<div id="myModal" class="modal">
  <div class="modal-content">
    <span id="content" aria-label="The question">
      {{question}}
    </span>
    <div
      id="response"
      class="btn-group"
      role="group"
      aria-label="Basic example"
    >
      {{#each answer}}
        <button type="button" class="btn btn-secondary" aria-label="Answer {{this}}">
          {{this}}
        </button>
      {{/each}}
    </div>
  </div>
</div>
