<div id="myModal" class="modal">
  <div class="modal-content">
    <span id="content">
      {{question}}
    </span>
    <img src="{{image}}" style="max-height: 128px;" alt="{{alttext}}">
  </div>
</div>
