<div id="myModal" class="modal">
  <div class="modal-content">
    <span style="overflow-y: auto;" class="m-1" id="content">
      {{question}}
    </span>
    <img class="pb-2 img-fluid rounded" src="{{image}}" style="max-height: 128px;" alt="{{alttext}}">
  </div>
</div>
