<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="m-1" id="content">
      Waiting for people to join...
    </span>
    <br/>
    <span id="group-container"> </span>
  </div>
</div>
