<div id="myModal" class="modal">
  <div class="modal-content">
    <span id="content" aria-label="Question">
      {{question}}
    </span>
    <form class="form-horizontal" role="form" id="response">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Response :"
          aria-label="Response"
          aria-describedby="button-addon2"
          id="response-text"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="submit"
            aria-label="Submit answer"
            id="button-addon2"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
