{{#section "scripts"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
crossorigin="anonymous"/>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"
></script>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<script type="text/javascript" src="/js/evaluator.js"></script>
<link rel="stylesheet" href="/css/evaluator.css"></link>
{{/section}}


<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div>
          <div class="p-1 pl-2 pt-3 sidenav-header">
          <a class="btn btn-primary float-left mr-4 mt-1 back-button" type="button" href="/">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
          </a>
		  		<h1 class="ml-2"> Users </h1>
        </div>
          <div class="border-right p-1" id="users">
          </div>
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-1 p-md-1">
        <nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>

            <div class="py-2 px-4 d-lg-block">
              <div class="d-flex align-items-center py-1">
                <div class="position-relative">
                <div class="flex-grow-1 pl-3">
                  <strong>
                    Sharon Lessman
                  </strong>
                  <div class="text-muted small">
                    <em>
                      Typing...
                    </em>
                  </div>
                </div>
              </div>
            </div>

        </nav>
        <div class="position-relative">
          <div class="chat-messages p-4">
            <div class="chat-message-right pb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                class="rounded-circle mr-1"
                alt="Chris Wood"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:33 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1">
                  You
                </div>
                Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
              </div>
            </div>
            <div class="chat-message-left pb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                class="rounded-circle mr-1"
                alt="Sharon Lessman"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:34 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-bold mb-1">
                  Sharon Lessman
                </div>
                Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
              </div>
            </div>
            <div class="chat-message-right mb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                class="rounded-circle mr-1"
                alt="Chris Wood"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:35 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1">
                  You
                </div>
                Cum ea graeci tractatos.
              </div>
            </div>
            <div class="chat-message-left pb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                class="rounded-circle mr-1"
                alt="Sharon Lessman"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:36 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-bold mb-1">
                  Sharon Lessman
                </div>
                Sed pulvinar, massa vitae interdum pulvinar, risus lectus porttitor magna, vitae commodo lectus mauris et velit.
                Proin ultricies placerat imperdiet. Morbi varius quam ac venenatis tempus.
              </div>
            </div>
            <div class="chat-message-left pb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                class="rounded-circle mr-1"
                alt="Sharon Lessman"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:37 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-bold mb-1">
                  Sharon Lessman
                </div>
                Cras pulvinar, sapien id vehicula aliquet, diam velit elementum orci.
              </div>
            </div>
            <div class="chat-message-right mb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                class="rounded-circle mr-1"
                alt="Chris Wood"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:38 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1">
                  You
                </div>
                Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
              </div>
            </div>
            <div class="chat-message-left pb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                class="rounded-circle mr-1"
                alt="Sharon Lessman"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:39 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-bold mb-1">
                  Sharon Lessman
                </div>
                Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
              </div>
            </div>
            <div class="chat-message-right mb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                class="rounded-circle mr-1"
                alt="Chris Wood"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:40 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1">
                  You
                </div>
                Cum ea graeci tractatos.
              </div>
            </div>
            <div class="chat-message-right mb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                class="rounded-circle mr-1"
                alt="Chris Wood"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:41 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1">
                  You
                </div>
                Morbi finibus, lorem id placerat ullamcorper, nunc enim ultrices massa, id dignissim metus urna eget purus.
              </div>
            </div>
            <div class="chat-message-left pb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                class="rounded-circle mr-1"
                alt="Sharon Lessman"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:42 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-bold mb-1">
                  Sharon Lessman
                </div>
                Sed pulvinar, massa vitae interdum pulvinar, risus lectus porttitor magna, vitae commodo lectus mauris et velit.
                Proin ultricies placerat imperdiet. Morbi varius quam ac venenatis tempus.
              </div>
            </div>
            <div class="chat-message-right mb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                class="rounded-circle mr-1"
                alt="Chris Wood"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:43 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1">
                  You
                </div>
                Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
              </div>
            </div>
            <div class="chat-message-left pb-4">
              <div>
                <img
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                class="rounded-circle mr-1"
                alt="Sharon Lessman"
                width="40"
                height="40"
                />
                <div class="text-muted small text-nowrap mt-2">
                  2:44 am
                </div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-bold mb-1">
                  Sharon Lessman
                </div>
                Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
              </div>
            </div>
          </div>
        </div>
        <div class="sticky-footer py-3 px-4">
          <div class="input-group">
            <input
            type="text"
            class="form-control m-1"
            placeholder="Type your message"
            />
            <button class="btn btn-primary m-1">
              Send
            </button>
          </div>
        </div>
      </div>
		</div>
  </body>
</html>
