{{#section "scripts"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
crossorigin="anonymous"/>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"
></script>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<script type="text/javascript" src="/js/evaluator.js"></script>
<link rel="stylesheet" href="/css/evaluator.css"></link>
{{/section}}


<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div>
          <div class="pl-2 py-3 sidenav-header bg-secondary row" style="height:68px;">
          <a class="btn btn-secondary ml-2 mr-2 mt-1 back-button" href="/">
            <svg width="2em" height="2em" viewBox="0 0 27 27" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
          </a>
		  		<h2 class="ml-3 text-white"> Users </h2>
          <a href="/evaluator/players" class="btn btn-primary mb-auto mr-4 ml-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
              <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
          </a>
        </div>
          <div class="border-right p-1" id="users">
          </div>
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content">
        <nav class="sticky-top navbar navbar-light bg-dark" style="height:68px;" id="active-user-navbar">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>

            <div class="px-4">
              <div class="d-flex align-items-center py-1">
                <div class="position-relative" id="active">
                </div>
              </div>
            </div>

        </nav>
        <div class="position-relative">
          <div class="chat-messages p-4" id="messages">

          </div>
        </div>
        <div class="sticky-footer py-3 px-4 bg-dark">
          <div class="input-group">
            <input
            type="text"
            class="form-control m-1"
            placeholder="Type your message"
            id="message_input"
            />
            <button class="btn btn-primary m-1" id="send_message">
              Send
            </button>
          </div>
        </div>
      </div>
		</div>
  </body>
</html>
