{{#section "scripts"}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type='text/javascript' src="/js/includes/html5-qrcode.min.js"> //reader </script>
    <script type='text/javascript' src="/js/includes/qrcode.min.js"> //writer </script>
    <script type='text/javascript' src="/js/scanQR.js"> </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw==" crossorigin="anonymous"></script>

{{/section }}

<div class="menuContainer">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1 mx-auto"> Home Page</span>
  </nav>
  <div class="card card-body text-center mx-auto d-block">
    <div id="scennerLocation">
      <div onclick="startQRReader()" type="button">
        <img src="/images/scanner_logo.png" alt="Press to start QR code scanner." width="30%"> <br>
        <span> Scan a story QR to access the experience. </span>
      </div>
    </div>
  </div>

  <div class="card card-body">
    <div class="list-group" id="storiesList">
      {{#each stories}}
      <a class="list-group-item list-group-item-action" href="/stories/{{this.name}}">
        {{this.name}}
      </a>
      {{/each}}
    </div>
  </div>
</div>
