{{#section "scripts"}}
    <link rel="stylesheet" href="/css/home.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type='text/javascript' src="js/includes/html5-qrcode.min.js"> //reader </script>
    <script type='text/javascript' src="js/includes/qrcode.min.js"> //writer </script>
    <script type='text/javascript' src="js/handleQR.js"> </script>
    <script src="/js/handleQR.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw==" crossorigin="anonymous"></script>
{{/section }}

<div class="menuContainer">
  <div class="menuChoice" id="homePage">
    Home page
  </div>
  <div class="menuChoice">
    <div id="scennerLocation">
      <button onclick="startQRReader()"> get QR </button>
    </div>
  </div>

  <div class="menuChoice" id="storiesList">
    {{#each stories}}
    <a href="/stories/{{this.name}}">
      <div class="storiesListEntry"> {{this.name}} </div>
    </a>
    {{/each}}
  </div>
</div>
