{{#section "scripts"}}
    <link rel="stylesheet" href="/css/example.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/example.js"></script>
{{/section }}

<div id="myModal" class="modal">
    <div class="modal-content">
       <span id="content"></span> 
    </div>
</div>
