{{#section "scripts"}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type='text/javascript' src="/js/includes/qrcode.min.js"> //writer </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.css" integrity="sha512-XLInoY7BRabO37CGsZjuNbQgIUq/XJAoP4iNGSjHpYt5JRGl4DYrPwjMcGhyBi+NZgocGJhRW3cTaQ1d8ecEig==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.min.js" integrity="sha512-INXxqXxcP6zawSei7i47Xmu+6ZIBRbsYN1LHAy5H1gzl1XIfTbI/OLjUcvBnDD8F3ZSVB6mf8asEPTMxz4VNjw==" crossorigin="anonymous"></script>

    <script src="/js/includes/pixi.min.js"></script>
    <script src="/js/includes/viewport.js"></script>


    <script type='text/javascript' src="/js/writeQR.js"> </script>
    <script type="text/javascript" src="/js/storyCreation.js"></script>

    <link rel="stylesheet" href="/css/storycreate.css"></link>
{{/section}}

<nav id="main-navbar" class="navbar navbar-light bg-dark fixed-top">
  <a class="btn btn-dark float-left" type="button" href="/" title="Back to home page">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg>
  </a>
  <button type="button" id="open-story-modal" class="btn btn-secondary float-left ml-2">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
    </svg>
    <span> Select </span>
  </button>
  <span class="navbar-brand mb-0 h1 mx-auto text-white"> Story editor </span>
  <div class="float-right row">
    <div class ="dropdown">
      <button class="btn btn-secondary dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span> Activities </span>
      </button>
      <div id="activity-selector" class="dropdown-menu dropdown-menu-right">
      </div>

      <button class="btn btn-primary mr-3" type="button" id="save-button" aria-haspopup="true" aria-expanded="false">
        <span> Save
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hdd-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 10a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-1zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
            <path d="M.91 7.204A2.993 2.993 0 0 1 2 7h12c.384 0 .752.072 1.09.204l-1.867-3.422A1.5 1.5 0 0 0 11.906 3H4.094a1.5 1.5 0 0 0-1.317.782L.91 7.204z"/>
          </svg>
        </span>
      </button>
    </div>
  </div>
</nav>

<body>
  <div id="activity-modal-container">
  </div>

  <div id='activity-context-menu'>
    <span data-action="edit">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
      Edit </span>
    <span data-action="delete">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash2" fill="currentColor">
        <path fill-rule="evenodd" d="M3.18 4l1.528 9.164a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836L12.82 4H3.18zm.541 9.329A2 2 0 0 0 5.694 15h4.612a2 2 0 0 0 1.973-1.671L14 3H2l1.721 10.329z"/>
        <path d="M14 3c0 1.105-2.686 2-6 2s-6-.895-6-2 2.686-2 6-2 6 .895 6 2z"/>
        <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z"/>
      </svg>
      Delete </span>
  </div>
  <div id="indicator-overlay" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content container-fluid">
          <div class="row justify-content-center">
            <div class="spinner-border text-primary" style="width: 4rem; height: 4rem; margin-bottom: 10px;" role="status">
               <span class="sr-only">Loading story...</span>
           </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <span style="color: white;"> Collecting story... </span>
          </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="main-modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Pick a story or crate a new one</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-primary" id="edit-new-story">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            <span> New story </span>
          </button>
          <br>
          <br>
          <span>
            Stories:
          </span>
          <div id="list-stories" class="list-group">
            <div class="text-center">
              <div id="indicator" class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>

  <div id="pixi-area">
    <canvas id="pixi-canvas"></canvas>
  </div>

  <div id="answer-tooltip">
  </div>

  <div class="modal fade" id="confirm-modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Story setup</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="storyname" class="col-form-label"> Enter story name </label>
              <input class="form-control" id="story-name" name="storyname" placeholder="Story name" required minlength="4" maxlength="256">
              <br>
            </div>
            <br>
            <label for="published"> Publish </label><br>
            <input type="checkbox" id="published" name="published">
          </div>
          <div class="modal-footer">
            <a id="qr-download-btn" class="btn btn-warning" download="{{this.name}}_qr" href="" type="button" class="btn btn-secondary ml-1 mr-auto"> Download qr </a>
            <button class="btn btn-primary" id="send-story">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirm-changes-modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Story already exists </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="needs-validation" novalidate>
          <div class="modal-body">
            <p>Do you want to overwrite the existing story?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="confirm-send-story"> Save changes</button>
            <button type="button" class="btn btn-secondary" id="dismiss-send-story" data-dismiss="modal">Dismiss</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="incomplete-story-modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Error </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="needs-validation" novalidate>
          <div class="modal-body">
            <p> Some outputs lead nowhere! Fix it before publishing. </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Ok </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirm-delete-modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="delete-modal-title"> </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="needs-validation" novalidate>
          <div class="modal-body">
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="confirm-delete-story"> Delete </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="d-none" id="newqr"></div>
</body>
