.modal {
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-content {
      background-color: #fefefe;
      border: 1px solid #888;
      width: 80%;
      height: 60%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
