#myModal.modal {
      position: fixed; /* Stay in place */
      left: 0;
      z-index: -1;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      display: flex;
      align-items: center;
      justify-content: center;
    }

#myModal.modal > .modal-content {
      border: 1px solid black;
      width: 85%;
      height: 70%;
      text-align: center;
      align-items: center;
      justify-content: center;
}

#result-id {
  margin: auto;
  font-weight: bold;
  display: inline-block;
}